(
	{
		width = 2;
		height = 1;
	},
	{
		height = 1;
		width = 1;
	},
	{
		height = 1;
		width = 1;
	},
	{
		height = 2;
		width = 1;
	},
	{
		height = 1;
		width = 1;
	},
	{
		height = 1;
		width = 2;
	},
	{
		height = 1;
		width = 2;
	},
	{
		height = 1;
		width = 1;
	},
	{
		height = 2;
		width = 2;
	},
	{
		height = 1;
		width = 1;
	},
	{
		height = 1;
		width = 1;
	},
	{
		height = 2;
		width = 1;
	},
)